<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="dir"  value="C:\Veera-Backup\FromDDrive\SiteMapURLVerifications\AutomationLogs\"/>
    <add key ="logfile"  value="logfile"/>
    <!--Edit For Option 1-->
    <!--<add key="sitemapURLfile" value="sitemap.xml"/>-->
    <!--add key="sitemapURLfile" value="http://www.villaplus.com/product.xml"/>-->
    <add key="sitemapURLfile" value="https://www.villaplus.com/blog/Portals/0-System/Sitemap/sitemap.en-us.xml"/>
    <add key="urlTitleMappingfile"  value="URL_Title_mtDesc_mtKeyw_12Aug.txt"/>
    <!--Edit For Option 2,3,10-->
    <add key="whichXML" value="TEmp_1.xml"/>
    <!--desktop-D/tablet-T/mobile-M-->
    <add key="platform" value="D"/>
    <add key="newUrlChecksfile" value="MobileUrls.txt"/>
    <!--Edit For Option 4-->
    <add key="PPUrlList"  value="PPURLs_All.txt"/>
    <!--Edit For Option 5-->
    <add key="PCICHKSURL"  value="PCICHKSURL.txt"/>
    <add key="Char" value =".php"/>
    <!--Edit For Option 6-->
    <add key="URLsCHKCanonicalTags"  value="sitemap.xml"/>
    <!--Edit For Option 7-->
    <add key="URLsCHKPageViewTags"  value="siteMap-fewurls.xml"/>
    <!--Edit For Option 8-->
    <add key="URLsCHKNoIndexNoFollowTags"  value="sitemap_New-Copy.xml"/>
    <!--Edit For Option 9-->
    <add key="CheckUsingCrawler"  value="siteMap-fewurls.xml"/>
    <!--Edit For Option 11-->
    <add key="userAgentfile"  value="userAgentsAll.txt"/>
    <!--Edit For Option 14-->
    <add key="W3CCheckUrls" value="MobileUrls.txt"/>
    <!--Edit For Option 15-->
    <add key="HRefResponseCheck" value="URLsToCheckHrefs.txt"/>
    <add key="PlatformtoCheck" value="Staging1"/>    <!--<Please enter Staging1 or www or any other platforms if available/>-->
  </appSettings>
</configuration>